# Editors
vim/bundle
vim/plugins
vim/autoload
vim/ctags
ac-comphist.dat
[._]*.s[a-v][a-z]
!*.svg  # comment out if you don't need vector files
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
Session.vim
Sessionx.vim
.netrwhist
*~
tags
[._]*.un~

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Homebrew
Brewfile.lock.json

# GnuPG
/gnupg/private-keys-v1.d
/gnupg/.#*
/gnupg/random_seed
/gnupg/reader*.status
/gnupg/sshcontrol
/gnupg/pubring.kbx
/gnupg/trustdb.gpg
/gnupg/S.*
/gnupg/*.pem
/gnupg/master.pub.key
/gnupg/ownertrust.txt
/gnupg/openpgp-revocs.d
/gnupg/tofu.db
/gnupg/*.asc

# SSH
/ssh/config.d
/ssh/id_*
/ssh/*.pem
/ssh/*.key
/ssh/known_hosts*
/ssh/ssh_auth_sock

# tmux
tmux/plugins
!tmux/plugins/tpm
tmux/resurrect

# personal files
*.personal

# Temporary files
.netrwhist
